/**MAIN STYLE*/

:root {
  --primary-color: #212121;
  --preprimary-color: #000000;
  --grey-color: #757575;
  --background-color: #2f303a;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
  --main-backgrond: #f5f5f5;
  --link-color: #2196f3;
  --prelink-color: #188ce8;
  --contactfooter-color: rgba(255, 255, 255, 0.6);
  --border-portfolio: #ececec;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--main-backgrond);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--link-color);
}

.link-but:hover,
.link-but:focus {
  background-color: var(--prelink-color);
}

.button:hover,
.button:focus {
  background-color: var(--link-color);
  color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/**MAIN LOGO*/

.logo {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--link-color);
}

.studio-logo1 {
  color: var(--preprimary-color);
}

.studio-logo2 {
  color: var(--white-color);
}

/**MAIN NAV + CONTACT*/

.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-decoration: none;
}

.link-nav.current {
  color: var(--link-color);
}

.contact {
  color: var(--grey-color);
  text-decoration: none;
}

header {
  border-bottom: 1px solid var(--border-portfolio);
}

.site-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 40px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

/**MAIN BANER*/

.main-baner {
  background: var(--background-color);
}

.baner {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-color);

  margin: 0;
  margin-bottom: 30px;
  padding-left: 270px;
  padding-right: 270px;
  min-width: 696px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
}

button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background: var(--link-color);

  cursor: pointer;
  font-family: inherit;

  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
}

/**MAIN WORK*/

.pry-comp {
  display: flex;
}

.pry-comp .item + .item {
  margin-left: 30px;
}

.other-info1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color);

  margin: 0;
  margin-bottom: 10px;
}

.other-info2 {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-color);

  margin: 0;
}

/**FUTURE COMPANY*/

.future-comp {
  display: flex;
}

.future-comp .item + .item {
  margin-left: 30px;
}

.main-font {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-color);

  margin: 0;
  text-align: center;
  padding-bottom: 50px;
}

/**MAIN TEAM*/

img {
  display: block;
  max-width: 100%;
}

.name {
  margin: 0;
  padding-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-color);
}

.work {
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--grey-color);
}

.main-team {
  background-color: var(--button-color);
}

.team-comp {
  display: flex;
  text-align: center;
}

.team-comp .item + .item {
  margin-left: 30px;
}

.card-color {
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-backgrond);
}

/**FOOTER*/

.main-footer {
  background: var(--background-color);
}

address {
  font-style: normal;
  margin-top: 20px;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  text-decoration: none;
}

.contact-link {
  padding-bottom: 9px;
}

.logo-footer {
  padding-top: 60px;
  padding-bottom: 161px;
}

.contact2 {
  font-size: 14px;
  line-height: 1.71;
  color: var(--contactfooter-color);
}

/**MAIN PORTFOLIO*/

/**MAIN FILTER*/

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background: var(--button-color);
  cursor: pointer;

  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 23px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link-click {
  display: flex;
  padding-top: 94px;
  justify-content: center;
}

.link-click .item + .item {
  margin-left: 8px;
}

/**FILTER EXAMPLE*/

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);

  margin: 0;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
}

.project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);

  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 94px;

  gap: 20px;
  padding: 0;
}

.border-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

/**CONTAINER+SECTION*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
